# 1. print the data type of variable x

In [3]:
x=8
type(x)

int

# 2. what will be datatype of following variable, mention answer in comments

In [ ]:
var = 'visionnlp'
##str

# 3. Insert the correct syntax to convert x into a int data type.

# x = 10.44
int(x)

# 4. Convert x into string

In [7]:
x=65
str(x)

'65'

# 5. Multipy 10 with 5, and print the result.

In [8]:
10*5

50

# 6. Use assignment operator and Perform Multiplication x and y values and store it in x

In [10]:
x=25
y=5
x*=y
print('x: ',x)

x:  125

# 7. Correct the following statement

In [11]:
x=x+6>3
x

True

# 8. Correct the following line

In [12]:
x = 9
y = 6

x >= y

True

# 9. list out different data types

In [ ]:
'str' 'int' 'float' 'boolean'

# 10. Add and display/print few examples of your choice of arithmetic operatios

In [13]:
print(10-3)

7

In [14]:
print(5*9)

45